<section id="testimonial_home">
  <div class="testimonial_home_main">
    <div class="container">
   <div class="row">
    <div class="col-sm-12">
       <div class="services_home text-center clearfix">
      
 

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active" ngClass="pointer"> Se Connecter </h2>
      <h2 class="inactive underlineHover" ngClass="pointer" (click)="gotoSignup()">S'inscrire </h2>
      <br>
      <br>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img class="admin" src="/assets/img/client.png" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email...">
        <input type="password"  id="password" class="fadeIn third" name="login" placeholder="Mot de passe...">
        <input type="submit" class="fadeIn fourth" value="Se Connecter">
      </form>
  
       <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" ngClass="pointer" >Mot de passe oublié?</a> <br>
      <a class="underlineHover" ngClass="pointer" (click)="gotoSignup()">Vous n'avez pas de compte? Inscrivez-vous </a>
    </div>
  
    </div>
  </div>


</div>
</div>
</div>

</div>
</div>
</section>