<br>
<br>

<div class="container">
    <form (ngSubmit)="messageSent()" method="post">
  
      <label for="fname">Nom</label>
      <input type="text" id="fname" name="nom" [(ngModel)]="contact.nom" placeholder="Votre Nom..">
  
      <label for="lname">Prenom</label>
      <input type="text" id="lname" name="prenom" [(ngModel)]="contact.prenom" placeholder="Votre Prenom..">
  
      <label for="country">Email</label>
      <input type="text" id="lname" name="email" [(ngModel)]="contact.email" placeholder="Votre email..">
  
  
      <label for="subject">Sujet</label>
      <textarea id="subject" name="sujet" [(ngModel)]="contact.sujet" placeholder="Ecrire ici.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
  </div>

  <br>
  <br>