<br>
<br>

<div class="container">
    <form action="">
  
      <label for="fname">Nom</label>
      <input type="text" id="fname" name="firstname" placeholder="Votre Nom..">
  
      <label for="lname">Prenom</label>
      <input type="text" id="lname" name="lastname" placeholder="Votre Prenom..">
  
      <label for="country">Email</label>
      <input type="text" id="lname" name="lastname" placeholder="Votre email..">
  
  
      <label for="subject">Sujet</label>
      <textarea id="subject" name="subject" placeholder="Ecrire ici.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
  </div>

  <br>
  <br>