<section id="services_home">
    <div class="center_main clearfix">
      <div class="container">
     <div class="row">
      <div class="col-sm-12">
       <div class="center">
        <br>
       <h1>A PROPOS DE <br> NOUS
       <br>
       <br>
        <h4>Commerce et vente de pièces de rechange et d'autres équipements et matériaux </h4>
      <br> 
      </h1>
      </div>
      </div>
     </div>
    </div>
    </div>
   </section>

   <section id="preference">
    <div class="container">
     <div class="row">
      <div class="col-sm-12">
       <div class="preference clearfix">
      <h1>Qui somme nous?</h1>
      <p> AFACC "Société Auto Filtres et Accessoires" est une société tunisienne qui a été créée le 24 janvier 2011, avec un capital de 10 000 DT. L'activité de cet établissement est de négocier et de vendre des pièces détachées et autres équipements et matériels.</p>
     </div>
     <br>
     <div class="preference clearfix">
        <h1>Que propose notre entreprise?</h1>
        <p> AFACC "Société Auto Filtres et Accessoires" est une société tunisienne qui a pour activité de négocier et vendre des pièces détachées et autres équipements et matériels en détail.</p>
    </div>
     <div class="preference_1 clearfix">
       <div class="col-sm-4">
        <div class="preference_1_inner clearfix">
          <h1><i class="fa fa-gear"></i></h1>
        <h2>Services d'échanges</h2>
        </div>
       </div>
       <div class="col-sm-4">
        <div class="preference_1_inner clearfix">
          <h1><i class="fa fa-key"></i></h1>
        <h2>Travail d'équipe</h2>
        </div>
       </div>
       <div class="col-sm-4">
        <div class="preference_1_inner clearfix">
          <h1><i class="fa fa-truck"></i></h1>
        <h2> Véhicules varié et disponibles </h2>
        </div>
       </div>
     </div>
     <br>
     <div class="preference clearfix">
        <h1>Localisation</h1>
        <p>AFACC est aujourd'hui basée au cœur du centre-ville au 20, Rue d'Italie 1001 Tunis.</p> 
        <div class="mapouter"><div class="gmap_canvas"><iframe width="1080" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=20,%20Rue%20d'Italie%20Tunis&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:1080px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:1080px;}</style></div></div>
    </div>

    <br>
    <br>
      <div class="preference clearfix">
        <h1>Notre carte visite</h1>
        <img style="width: 400px; margin-left: 150px;" src="assets/img/carte1.png">
        <img style="width: 400px; margin-left: 50px;"  src="assets/img/carte2.png">
         </div>
      </div>

      
      
     </div>
    </div>
   </section>