<section id="top">
  <div class="container">
   <div class="row">
    <div class="top clearfix">
     <div class="col-sm-3">
    <div class="top_1">
      <p><i class="fa fa-map"></i> 20, Rue d'Italie Tunis - 1001 Tunis</p>
    </div>
   </div>
   <div class="col-sm-2">
    <div class="top_1">
      <p><i class="fa fa-phone"></i> <a href="#">(216) 25 197 273</a></p>
    </div>
   </div>
   <div class="col-sm-4">
    <div class="top_1">
      <p><i class="fa fa-clock-o"></i>  Horaires: Lun-Ven: 08am-6pm; Sam: 8am-2pm</p>
    </div>
   </div>
   <div class="col-sm-3">
    <div class="top_2">
      <ul class="social-network social-circle">
                         <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                         <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                         <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                         <li><a href="https://www.linkedin.com/company/afacctn" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                     </ul>
    </div>
   </div>
    </div>
   </div>
  </div>
 </section>

 <section id="header" class="clearfix cd-secondary-nav">
  <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand heading_tag" style="color: rgb(167, 18, 18); font-size: 30px;" href="index.html"><img style="width: 100px; margin-bottom: -18px;" src="assets/img/redlogo.png"> AFACC </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
        
                    <li>
                        <a class="tag_menu " ngClass="pointer" href="/">ACCEUIL</a></li>
                     
                    <li>
                        <a class="tag_menu"  ngClass="pointer"  (click)="gotoAboutUs()">A PROPOS DE NOUS</a></li>
          
          <li>
                        <a class="tag_menu" ngClass="pointer"  (click)="underConstruc()">AGRICULTURE</a>  </li>
                    
          <li>
                        <a class="tag_menu" ngClass="pointer"  (click)="underConstruc()">MACHINES</a>  </li>
         
            
          <li>
                        <a class="tag_menu" ngClass="pointer"  (click)="gotoAboutUs()">INFORMATION</a></li>

            
          <li>
                        <a class="tag_menu" ngClass="pointer"  (click)="contactUs()">CONTACTEZ-NOUS</a></li>
          
          <li class="dropdown">
            <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">AUTRE<span class="caret"></span></a>
            <ul class="dropdown-menu drop_1" role="menu">
             <li><a ngClass="pointer"  (click)="underConstruc()">Se connecter</a></li>
            <li><a ngClass="pointer"  (click)="underConstruc()">Créer un compte</a></li>
            </ul>
                    </li>
          
                </ul>
         
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>
 
<router-outlet></router-outlet>
 
 <section id="footer">
  <div class="container">
   <div class="row">
    <div class="footer clearfix">
     <div class="col-sm-3">
    <div class="footer_inner clearfix">
      <h2>Nos<br> Produits</h2>
      </div>
   </div>
   <div class="col-sm-3">
    <div class="footer_inner_1 clearfix">
      <h4>Nos Liens</h4>
      <h5><i class="fa fa-chevron-right"></i> <a ngClass="pointer" href="/">Acceuil</a></h5>
      <h5><i class="fa fa-chevron-right"></i> <a  ngClass="pointer"  (click)="gotoAboutUs()">A propos de nous</a></h5>
      <h5><i class="fa fa-chevron-right"></i> <a ngClass="pointer"  (click)="underConstruc()">Agriculture</a></h5>
      <h5><i class="fa fa-chevron-right"></i> <a ngClass="pointer"  (click)="underConstruc()">Machines</a></h5>
      <h5><i class="fa fa-chevron-right"></i> <a ngClass="pointer"  (click)="gotoAboutUs()">Information</a></h5>
      <h5><i class="fa fa-chevron-right"></i> <a  ngClass="pointer"  (click)="contactUs()">Contactez-nous</a></h5>
    </div>
   </div>
   <div class="col-sm-3">
    <div class="footer_inner_1 clearfix">
      <h4>Nos Services</h4>
      <h5><i class="fa fa-chevron-right"></i> <a href="#">Maintenance</a></h5>
      <h5><i class="fa fa-chevron-right"></i> <a href="#">Pièces de rechanges</a></h5>
      <h5><i class="fa fa-chevron-right"></i> <a href="#">Période de garantie</a></h5>
      <h5><i class="fa fa-chevron-right"></i> <a href="#">Machines disponibles</a></h5>
      <h5><i class="fa fa-chevron-right"></i> <a href="#">Machines variées</a></h5>
      <h5><i class="fa fa-chevron-right"></i> <a href="#">Achat sur place</a></h5>
    </div>
   </div>
   <div class="col-sm-3">
    <div class="footer_inner_1 clearfix">
       <h4>Contact Us</h4>
     <ul>
      <li><i class="fa fa-phone"></i> <a href="#">(216) 25 197 273</a></li>
      <li><i class="fa fa-map"></i> 20, Rue d'Italie Tunis - 1001 Tunis</li>
      <li><i class="fa fa-envelope"></i> <a href="#">a.f.acc@hotmail.com</a></li>
     </ul>
    </div>
   </div>
    </div>
   </div>
  </div>
 </section>
 

 <section id="footer_bottom">
  <div class="container">
   <div class="row">
    <div class="col-sm-12">
      <div class="footer_bottom text-center clearfix">
        <p>©2022 AFACC  |  Tous les droits sont réservés</p>
      </div>
    </div>
   </div>
  </div>
 </section>
 
 <div id="toTop" (click)="topFunction()" class="btn btn-info" style="display: block; background:#333; color:#fff; border-color:#333;"><span class="fa fa-chevron-up"></span></div>
 
 <script type="text/javascript">
 $(document).ready(function(){
   $('body').append('<div id="toTop" class="btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</div>');
   $(window).scroll(function () {
     if ($(this).scrollTop() != 0) {
       $('#toTop').fadeIn();
     } else {
       $('#toTop').fadeOut();
     }
   }); 
 $('#toTop').click(function(){
   $("html, body").animate({ scrollTop: 0 }, 600);
   return false;
 });
 });
 
 </script>
 
 <script type="text/javascript">
 $(document).ready(function(){
 
 /*****Fixed Menu******/
 var secondaryNav = $('.cd-secondary-nav'),
    secondaryNavTopPosition = secondaryNav.offset().top;
   $(window).on('scroll', function(){
     if($(window).scrollTop() > secondaryNavTopPosition ) {
       secondaryNav.addClass('is-fixed');	
     } else {
       secondaryNav.removeClass('is-fixed');
     }
   });	
   
 });
 </script>