
<section id="testimonial_home">
    <div class="testimonial_home_main">
      <div class="container">
     <div class="row">
      <div class="col-sm-12">
         <div class="services_home text-center clearfix">
        
   
  
  <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="inactive underlineHover" ngClass="pointer" (click)="gotoLogin()"> Se Connecter </h2>
        <h2 class="active" ngClass="pointer" >S'inscrire </h2>
        <br>
        <br>
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img class="admin" src="/assets/img/user.png" />
        </div>
    
        <!-- Login Form -->
        <form>
          <input type="text" id="login" class="fadeIn second" name="lastname" placeholder="Nom...">
          <input type="text" id="login" class="fadeIn second" name="name" placeholder="Prénom...">
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email...">
          <input type="password"  id="password" class="fadeIn third" name="password" placeholder="Mot de passe...">
          <input type="password"  id="password" class="fadeIn third" name="password" placeholder="Vérifier le mot de passe...">
          <input type="submit" class="fadeIn fourth" value="S'inscrire">
        </form>
    
         <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" ngClass="pointer" (click)="gotoLogin()">Vous avez déjà un compte? Connectez-vous</a>
    </div>
    
      </div>
    </div>
  
  
  </div>
  </div>
  </div>
  
  </div>
  </div>
  </section>