
  
  <section id="center">
   <div class="center_main clearfix">
     <div class="container">
    <div class="row">
     <div class="col-sm-12">
      <div class="center">
       <h3>Bienvenu</h3>
       <br>
      <h1>Société Auto  Filtres et <br> Accessoires and Works 
      <br>
      <br>
       <h4>Commerce et vente de pièces de rechange et d'autres équipements et matériaux </h4>
     <br> 
     </h1>
     </div>
     </div>
    </div>
   </div>
   </div>
  </section>
  
  <section id="about_home">
   <div class="container">
    <div class="row">
     <div class="about_home clearfix">
      <div class="col-sm-3">
     <div class="about_home_left clearfix">
      <h2>Notre <br> Equipement</h2>
      <p>Voici quelques modeles de notre equipement que AFACC offre.</p>
      <h4><a class="hvr-shutter-in-vertical" href="#">NOTRE EQUIPEMENT</a></h4>
     </div>
    </div>
    <div class="col-sm-9">
      <div class="about_home_right clearfix">
        <div class="col-sm-4 space_left">
       <div class="about_home_right_inner clearfix">
         <div class="grid clearfix">
            <figure class="effect-apollo">
              <img src="assets/img/h.jpg" alt="img22"/>
              <figcaption>
                <h2>Our <span>Machineries</span></h2>
                <p></p>
               </figcaption>			
        </figure>
      </div>
           <h4><a href="#">Farming</a></h4>
       </div>
      </div>
      <div class="col-sm-4 space_left">
       <div class="about_home_right_inner clearfix">
         <div class="grid clearfix">
            <figure class="effect-apollo">
              <img src="assets/img/c.webp" alt="img22"/>
              <figcaption>
                <h2>Our <span>Machineries</span></h2>
                <p></p>
               </figcaption>			
        </figure>
      </div>
           <h4><a href="#">Structure</a></h4>
       </div>
      </div>
      <div class="col-sm-4 space_left">
       <div class="about_home_right_inner clearfix">
         <div class="grid clearfix">
            <figure class="effect-apollo">
              <img src="assets/img/d.JPG" alt="img22"/>
              <figcaption>
                <h2>Our <span>Machineries</span></h2>
                <p></p>
               </figcaption>			
        </figure>
      </div>
           <h4><a href="#">Congeries</a></h4>
       </div>
      </div>
      </div>
      <div class="about_home_right clearfix">
        <div class="col-sm-4 space_left">
       <div class="about_home_right_inner clearfix">
         <div class="grid clearfix">
            <figure class="effect-apollo">
              <img src="assets/img/e.JPG" alt="img22"/>
              <figcaption>
                <h2>Our <span>Machineries</span></h2>
                <p></p>
               </figcaption>			
        </figure>
      </div>
           <h4><a href="#">Dapibus </a></h4>
       </div>
      </div>
      <div class="col-sm-4 space_left">
       <div class="about_home_right_inner clearfix">
         <div class="grid clearfix">
            <figure class="effect-apollo">
              <img src="assets/img/m.JPG" alt="img22"/>
              <figcaption>
                <h2>Our <span>Machineries</span></h2>
                <p>.</p>
               </figcaption>			
        </figure>
      </div>
           <h4><a href="#">Elementum </a></h4>
       </div>
      </div>
      <div class="col-sm-4 space_left">
       <div class="about_home_right_inner clearfix">
         <div class="grid clearfix">
            <figure class="effect-apollo">
              <img src="assets/img/n.JPG" alt="img22"/>
              <figcaption>
                <h2>Our <span>Machineries</span></h2>
                <p></p>
               </figcaption>			
        </figure>
      </div>
           <h4><a href="#">Semper Porta</a></h4>
       </div>
      </div>
      </div>
    </div>
     </div>
    </div>
   </div>
  </section>
  
  <section id="detail_home">
   <div class="container">
    <div class="row">
     <div class="detail_home clearfix">
    <div class="col-sm-6">
     <div class="detail_home_right clearfix">
      <h1>Le cultivateur est un outil professionnel  </h1>
      <p>Il a en charge la réalisation des travaux essentiels à la production au sein d'une exploitation (superficie variable) spécialisée ou dans les grandes cultures (céréales, oléagineux, protéagineux, betteraves, pommes de terre, canne à sucre, etc.).  </p>
      <ul>
       <li><span>11</span> <br>ans de Travail</li>
       <li><span>+100</span> <br>Machines</li>
       <li><span>+500</span> <br>Clients</li>
      </ul>
      <h4><a class="hvr-shutter-in-vertical" href="#">LIRE LA SUITE</a></h4>
     </div>
    </div>
    <div class="col-sm-6">
     <div class="detail_home_left clearfix">
       <div class="grid clearfix">
            <figure class="effect-jazz">
              <img src="assets/img/a.jpg" alt="img25"/>
              <figcaption>
                <h2> <span>CULTIVATEUR</span></h2>
                <p>Ouitil d'agriculture.</p>
              </figcaption>			
        </figure>
            
      </div>
     </div>
    </div>
     </div>
    </div>
   </div>
  </section>
  
  <section id="preference">
   <div class="container">
    <div class="row">
     <div class="col-sm-12">
      <div class="preference clearfix">
     <h1>Que propose notre entreprise?</h1>
     <p> AFACC "Société Auto Filtres et Accessoires" est une société tunisienne qui a pour activité de négocier et vendre des pièces détachées et autres équipements et matériels en détail.</p>
    </div>
    <div class="preference_1 clearfix">
      <div class="col-sm-4">
       <div class="preference_1_inner clearfix">
         <h1><i class="fa fa-gear"></i></h1>
       <h2>Services d'échanges</h2>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="preference_1_inner clearfix">
         <h1><i class="fa fa-key"></i></h1>
       <h2>Travail d'équipe</h2>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="preference_1_inner clearfix">
         <h1><i class="fa fa-truck"></i></h1>
       <h2> Véhicules varié et disponibles </h2>
       </div>
      </div>
    </div>
     </div>
    </div>
   </div>
  </section>
  
  <section id="services_home">
   <div class="services_home_main clearfix">
     <div class="container">
    <div class="row">
     <div class="col-sm-12">
       <div class="services_home text-center clearfix">
       <h1>Nos Services</h1>
     </div>
     <div class="services_home_1 clearfix">
        <div class="col-sm-4">
       <div class="services_home_1_inner text-center clearfix">
         <h1><i class="fa fa-gear"></i></h1>
         <h2>Maintenance</h2>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="services_home_1_inner text-center clearfix">
         <h1><i class="fa fa-gears"></i></h1>
         <h2> Pièces de rechanges</h2>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="services_home_1_inner text-center clearfix">
         <h1><i class="fa fa-warning"></i></h1>
         <h2>Période de garantie</h2>
       </div>
      </div>
     </div>
     <div class="services_home_1 clearfix">
        <div class="col-sm-4">
       <div class="services_home_1_inner text-center clearfix">
         <h1><i class="fa fa-truck"></i></h1>
         <h2>Machines disponibles</h2>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="services_home_1_inner text-center clearfix">
         <h1><i class="fa fa-bus"></i></h1>
         <h2>Machines variées </h2>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="services_home_1_inner text-center clearfix">
         <h1><i class="fa fa-shopping-cart"></i></h1>
         <h2>Achat sur place</h2>
       </div>
      </div>
     </div>
     </div>
    </div>
   </div>
   </div>
  </section>
  
  <section id="equipment">
   <div class="container">
    <div class="row">
     <div class="col-sm-12">
       <div class="services_home text-center clearfix">
       <h1>Nos produits populaires</h1>
     </div>
     <div class="equipment clearfix">
      <div class="col-sm-4 space_left">
       <div class="equipment_inner clearfix">
         <div class="grid clearfix">
            <figure class="effect-marley">
              <img src="assets/img/truc.png" alt="img12"/>
              <figcaption>
                <h2>Machine <span>D'occasion</span></h2>
                <p>Tracteur</p>
              </figcaption>			
        </figure>
      </div>
         <h3><a href="#">Tracteur 2015</a></h3>
       <p class="p_1">Disponible</p>
       </div>
      </div>
      <div class="col-sm-4 space_left">
       <div class="equipment_inner clearfix">
         <div class="grid clearfix">
            <figure class="effect-marley">
              <img src="assets/img/c.webp" alt="img12"/>
              <figcaption>
                <h2>Machine <span>D'occasion</span></h2>
                <p>Canadienne à queue</p>
              </figcaption>			
        </figure>
      </div>
         <h3><a href="#">Canadienne à queue</a></h3>
       <p class="p_1">Disponible </p>
       </div>
      </div>
      <div class="col-sm-4 space_left">
       <div class="equipment_inner clearfix">
         <div class="grid clearfix">
            <figure class="effect-marley">
              <img src="assets/img/b.jpg" alt="img12"/>
              <figcaption>
                <h2>Machine <span>D'occasion</span></h2>
                <p>Tracteur </p>
              </figcaption>			
        </figure>
      </div>
         <h3><a href="#">Cultivateur occasion 2020</a></h3>
       <p class="p_1">Vendu </p>
       </div>
      </div>
     </div>
     <div class="equipment_1 text-center clearfix">
       <h4><a class="hvr-shutter-in-vertical" href="#">SEE MORE</a></h4>
     </div>
     </div>
    </div>
   </div>
  </section>
  
  <section id="testimonial_home">
   <div class="testimonial_home_main">
     <div class="container">
    <div class="row">
     <div class="col-sm-12">
        <div class="services_home text-center clearfix">
       <h1>Brands</h1>
      </div>
    </div>
    </div>
    <div >
    <img class="deutz" src="assets/img/deutz-fahr-logo-png-transparent.png">
    <img class="fiat" src="assets/img/fiat-2-logo-png-transparent.png">
    <img class="ford" src="assets/img/ford-7-logo-png-transparent.png">
    <img class="landini" src="assets/img/landini-logo-png-transparent.png">
    <img class="massey" src="assets/img/massey-ferguson-1-logo-png-transparent.png">
    <img class="perkins" src="assets/img/perkins-1-logo-png-transparent.png">
    <img class="perkins" src="assets/img/renault.png">
  
   </div>
    </div>
    </div>
  </section>
  
  <section id="map_direction">
   <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=20,%20Rue%20d'Italie%20Tunis,%20Tunisia&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:400px;width:100%;}</style><a href="https://www.embedgooglemap.net">insert google map into website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:100%;}</style></div></div>
  </section>